<div class="container-fluid">
  <div class="main">

    <div style="font-size:2em;" class="navbar-nav ml-auto">
      <app-quotes-form (addQuote)='addNewQuote($event)'></app-quotes-form>
    </div>
    <h1 style="color: white;" >FAVOURITE QUOTES</h1>


    <div style="display: flex; flex-direction: row;" class="row">
      <div class=" my-4 ">
        <div class="all-cards">
          <div class="col-md-7  col-lg-4 col-sm-9">

            <div  style=" box-shadow: 18px 18px 50px rgb(85, 83, 83); background-color: rgb(219, 212, 212);" *ngFor="let quotee of quotes" class="card" class="m-4">
              <div  class="card-body m-4">
                <p  style="color: blue; font-size: 1.5em;" class="card-text"> " {{quotee.quote}} "</p>

                <app-quote-details [quotee]="quotee" (isDone)="deleteQuote($event,1)"></app-quote-details>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- background-image: linear-gradient(rgb(148, 105, 228), rgb(212, 0, 255)); -->