
<div>
    <p> Author : {{quotee.author}} </p>
    <p>Posted by : {{quotee.name}} on {{quotee.completeDate|date}} </p>
</div>
<div>
    <button (click)="likeButtonClick()"type="button" class="btn btn-outline-primary"><span class="bi bi-hand-thumbs-up-fill"></span> Upvote</button>{{numberOfLikes}}
    <button type="button" class="btn btn-outline-danger"><span class="bi bi-hand-thumbs-down-fill"></span> Downvote</button>
    <p>This quote has been here for {{quotee.completeDate|dayCount}} days 
    <span><button (click)= 'quoteDelete(true)' type="button" class="btn ms-5"> <span class="bi bi-trash red-color"></span></button></span></p>
</div>