/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    background:url(./assets/oceans3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

